@import "@styles/global.scss";

.feature-card {
  width: 100%;
  display: flex;
  max-width: 470px;

  @media #{$media-mobile} {
    max-width: 300px;
  }

  .img-container {
    position: relative;
    width: 353px;
    height: 117px;
    margin-right: 20px;

    @media #{$media-mobile} {
      width: 360px;
      height: 87px;
    }
  }
  .card-info {
    display: flex;
    flex-direction: column;

    h3 {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      margin-bottom: 16px;

      @media #{$media-mobile} {
        font-size: 16px;
      }
    }
    p {
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 12px;
      text-align: left;

      @media #{$media-mobile} {
        font-size: 14px;
      }
    }
    button {
      width: 120px;
      height: 40px;
      border-radius: 16px;
      background: #ffc905;
      border: none;
      color: #000;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;

      @media #{$media-mobile} {
        width: 100px;
        height: 30px;
        font-size: 12px;
      }
    }
  }
}
